Christina_Bot WhatsApp automation.json
{
  "name": "Christina Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        -80
      ],
      "id": "dced2d3b-ff2a-41f5-9e9e-845de31df4ee",
      "name": "WhatsApp Trigger",
      "webhookId": "2faa1695-682b-4bbc-badd-12505f7001fc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "EdRtOthWuASWPzd5",
          "name": "Initial Trigger"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant Called Christina.\n\nRespond in a friendly and natural way. Be very feminine as well\n\nYou are currently talking to {{ $json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1480,
        280
      ],
      "id": "e31f33f1-31e9-4c37-90da-a249512403ff",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1540,
        520
      ],
      "id": "782437bc-382c-4ce1-b2f8-dc6442d33e6b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LVh3nuZ6CFdKwejQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1380,
        520
      ],
      "id": "563f05f1-7865-4709-914a-f9f4572a3ddb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -600,
        520
      ],
      "id": "f19a3382-9c11-4403-b79f-44d72d9cfbe2",
      "name": "WhatsApp Business Cloud",
      "webhookId": "8bb453ab-3069-43fc-89ed-3422f3dceadb",
      "credentials": {
        "whatsAppApi": {
          "id": "qPSwhAuV160nFRxn",
          "name": "Text Response"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3621ffd4-1e4d-456f-8062-482e18db7d73",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1720,
        280
      ],
      "id": "2b3d6fd6-ca52-46fb-8de4-667b1a5631cc",
      "name": "Text only prompt"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "c72edfd8-75fa-47cd-8dc0-13144ced9f11"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fbfd62c-e1ca-4ad6-aade-6a958d02b4a5",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3055e60-eafc-47cd-a509-0302f57fb39a",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2060,
        -80
      ],
      "id": "0986c3be-c8c3-484c-aeae-e7b88984dd28",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1880,
        -560
      ],
      "id": "75c7a46c-aa36-402e-b55f-c8f95d0c0efb",
      "name": "Get Audio URL",
      "webhookId": "c776b8d3-10f5-4c9e-b19c-4b31b72fbb33",
      "credentials": {
        "whatsAppApi": {
          "id": "qPSwhAuV160nFRxn",
          "name": "Text Response"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1660,
        -560
      ],
      "id": "329e86c8-d306-4d45-b584-25e4fb8f9c46",
      "name": "Download audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bTFjUmBtPsDhUJD7",
          "name": "Christina bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1440,
        -560
      ],
      "id": "0f70d5fb-115e-44ff-8cef-8e89245817c3",
      "name": "Transcribe audio",
      "credentials": {
        "openAiApi": {
          "id": "LVh3nuZ6CFdKwejQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44a09b95-a411-4a9a-bb85-3de64b903e7c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        -560
      ],
      "id": "5d303f67-6337-4142-8e6b-6517db53eb4b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "106d24ce-a26b-4a6d-b1bd-21ab7ebf7d64",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        280
      ],
      "id": "d2caa1f7-a5d4-4bb6-b389-a6ec6aa4bbe6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -600,
        260
      ],
      "id": "91025905-e858-4934-9263-c621323912d7",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "LVh3nuZ6CFdKwejQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n\n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === \"audio/mp3\") {\n        item.binary[propName].mimeType = \"audio/mpeg\";\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        260
      ],
      "id": "cfcd4248-0bf0-497b-9093-10e2374af2ff",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "679029325296093",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -180,
        260
      ],
      "id": "2e311487-2046-4500-9e45-6a66aed620db",
      "name": "Respond with Audio",
      "webhookId": "f4153246-7e87-47c6-a189-b9f9caaac9c8",
      "credentials": {
        "whatsAppApi": {
          "id": "qPSwhAuV160nFRxn",
          "name": "Text Response"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1720,
        -60
      ],
      "id": "39e0c095-b57a-4c7d-afbf-58dd67429f8d",
      "name": "Get image URL",
      "webhookId": "cb9a69a1-160d-4847-91bb-3ddb0478a487",
      "credentials": {
        "whatsAppApi": {
          "id": "qPSwhAuV160nFRxn",
          "name": "Text Response"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1500,
        -60
      ],
      "id": "9e9e8877-f39c-4d37-99ab-28069fdc6550",
      "name": "Download image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bTFjUmBtPsDhUJD7",
          "name": "Christina bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Describe this image in detail.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1280,
        -60
      ],
      "id": "69a4da6b-9a31-4cd5-a1f3-52bddb2ad6bc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LVh3nuZ6CFdKwejQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "149ea06f-6e47-40df-9fc0-e5adb6470f76",
              "name": "text",
              "value": "=#the user provided the following image and text.\n\n## Image Description:\n{{ $json.content }}\n\n## User Message:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image.\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        -60
      ],
      "id": "e9d26257-a77b-4813-b165-5d7e9f5f7725",
      "name": "Image and text prompt"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1220,
        580
      ],
      "id": "a2b234fe-000b-4b2e-a9e3-46f429b1c899",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "LFppBVV9VAARUUQc",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text only prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text only prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Transcribe audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond with Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image URL": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Image and text prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image and text prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "734daff3-9969-4088-850b-5c45b8940151",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd1603e14a046d6521ed573098c26c1ddfde7db649d8d7d02d04b03634108182"
  },
  "id": "6gNY1gcAbFOwYXG0",
  "tags": []
}